body {
    margin-top: 20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
}

.sticky-main {
    width: 750px;
    background: #fff;
    margin-top: 1rem;
}

.btn-files {
    position: relative;
    /*   
    font-size: 15px;
    line-height: 1;
    border-radius: 3px; */

    background-color: #d5d1ef;
    border: 0;
    transition: 0.2s;
    overflow: hidden;
}

.btn-files input[type="file"] {
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(3);
    opacity: 0;
}

.choose-file {
    border: 1px solid gray;
    border-radius: 3px;
}

.uploading {
    padding: 20px 0px;
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;


}

#btn-img {
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    border-radius: none;
}

#image-icon {
    display: flex;
    flex-direction: column;
    color: gray;
}

#image-icon i {
    font-size: 40px;


}

#image-icon span {
    font-size: 10px;
    margin-top: -10px;
}

#btn-img button {
    margin-right: 3rem;
    margin-top: 1rem;
    border: 1px solid gray;
}

#cover-photo {
    display: flex;
    flex-direction: column;
}

#cover-photo span {
    color: gray;
    margin-top: -10px;
}

.img-in-cover {
    width: 20%;
}

.img-in-cover img {
    width: 50px;
}

/* #add-burger {
    display: none;
} */

.edit {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 5%;
    border-radius: 20px;
    margin-left: 30px;
    font-size: 20px;
    color: gray;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
   min-height: 60vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: 20px;
    align-self: normal;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    flex-wrap: wrap;

}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}

.fr-room {
    font-size: 20px;
    font-weight: bold;

    margin-top: 17px;

}

.group-name {
    font-weight: 600;
}

#avatar {
    border-radius: 10px;
    margin-left: 10px;
    position: absolute;
    /* top: 28%;
    right: 6%; */
    justify-content: center;
    top: 28%;
    margin: auto;
    width: 20%;
    right: 9%;
}

.online {

    float: right;
    font-size: 15px;
    width: 30%;
    margin-top: auto;
}

.plus {
    display: flex;
    justify-content: center;

    font-weight: bolder;
    /* font-size: 25px; */
}

#add-icon {
    width: 100%;
    background-color: #4D91EA;
}

#btn-1 {
    display: inline-block;
    width: 50%;
    height: 5vh;
    background-color: blue;
    color: white;
    margin-left: 10px;
    margin-top: auto;
    align-self: flex-start;
}

.section {
    margin-top: 18px;
}

.chat-btn {
    background: #4D91EA;
    border: none;
    padding: 9px;
    border-radius: 10px;
    color: white;
    font-size: initial;

}

.online-status {
    margin-left: 29px;
    color: green;

}

.cover-image {
    border-radius: 6px;
}

label {
    padding: 0px !important;

}

.img-in-cover {
    width: 100%;
    display: flex;
    align-items: center;
}

.img-in-cover img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    border-radius: 5px;
}

.img-in-profile {
    width: 10%;
}

.img-in-profile img {
    margin-top: 20px;
    margin-right: 70px;
    width: 25%;
    object-fit: cover;
    height: 60px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
 

}
.chat_see_group{
    position: absolute;
    bottom: 0px;
    margin-bottom: 5px;
    width: 80%;
    justify-content: space-between;
}

#icon-group {
    border-radius: 5px;
}

.online-status {
    margin: 20px 0;

}

.add-icon {
    min-height: 50vh;
}

.public-group {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 50px;
    width: 200px;
    font-family: Arial;
    cursor: pointer;
    /* gap: 2px; */
    /* padding: 15px 0; */

}

.public-group-img {
    display: flex;
    width: 20px;
    align-items: center;
}

.public-group-img i {
    font-size: 15px;
    color: #4D91EA;
}

.public-group-para {
    align-items: center;
    display: flex;
}

.public-group-para p {
    font-size: 12px;
    color: black;
    margin-top: 10px;
    font-weight: bolder;
}

.main-inner-fixed-at {
    /* padding-top: 10px; */
    position: fixed;
    top: 35px;
    left: 400px;
}

@media (min-width: 376px) and (max-width: 400px) {
    #avatar {
        top: 32%;

    }
    .card{
        min-height: 50vh;
    }
  
    .public-group {
       gap: 5px;
       

    }
    .public-group-img{
        width: 10px;
    }
}


@media (min-width: 401px) and (max-width: 415px) {
    #avatar {
        top: 32%;

    }
    .card{
        min-height: 50vh;
    }
  
    .public-group {
        gap: 5px;
        
 
     }
     .public-group-img{
         width: 10px;
     }
}

@media (min-width: 240px) and (max-width: 375px) {
    #avatar {
        top: 32%;

    }
    .card{
        min-height: 50vh;
    }
    .public-group {
        gap: 5px;
        
 
     }
     .public-group-img{
         width: 10px;
     }
}

@media (min-width: 240px) and (max-width: 540px) {
    .main-inner-id {
        position: static;
    }

    .sticky-main {
        width: 320px;
        margin-top: 6rem;
        padding-right: 5px;

    }

    .public-group {
        width: 80px;
       

    }

    .public-group p {
        font-size: 8px;
    }

    .public-group-img i {
        font-size: 13px;
    }

}
@media (min-width: 420px) and (max-width: 540px) {
    .main-inner-id {
        position: static;
    }
    
    .sticky-main {
        width: 450px;
        margin-top: 3rem;
        padding-right: 5px;
      

    }
    .public-group {
        width: 120px;
        gap: 0.5px;

    }

    .public-group p {
        font-size: 12px;
    }

    .public-group-img i {
        font-size: 14px;
    }

}

@media (min-width: 541px) and (max-width: 980px) {
    .main-inner-fixed-at {

        left: 130px;

    }
}

@media (min-width: 980px) and (max-width: 1024px) {
    .main-inner-fixed-at {

        left: 250px;

    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .main-inner-fixed-at {

        left: 250px;

    }
}

@media (min-width: 541px)and (max-width: 768px) {
    #avatar {
        top: 40%;
    }
    .card{
        min-height: 45vh;
    }
}


@media (min-width: 769px) and (max-width: 850px) {
    #avatar {
        top: 40%;
    }
    .card{
        min-height: 50vh;
    }
}

@media (min-width: 851px) and (max-width: 990px) {
    #avatar {
        top: 40%;
    }
    .card{
        min-height: 45vh;
    }
}

@media (min-width: 991px) and (max-width: 1240px) {
    #avatar {
        top: 29%;
    }
   
    
}
@media (min-width: 1241px) and (max-width: 1280px) {
    #avatar {
        top: 29%;
    }
    .card{
        min-height: 50vh;
    }
}
@media all and (min-width: 1405px) {

    .card {
        min-height: 46vh;
        /* width: 77%; */
        }
       .img-in-profile{
            position: absolute;
            top: 120px;
            right: 84px;
            width: 100%;
        }
        #avatar {
            right: 0%;
            left: 95%;
        }
}